body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    user-select: none;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: top left;
}

.imgA {
    clip: rect(0px, 50vw, 100vh, 0px);
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: #fff;
    cursor: ew-resize;
    z-index: 100;
}

.slider:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    z-index: 101;
}

.dropdown-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 200;
    font-size: 1.3em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.dropdown {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1em;
}

#selectB {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 200;
    font-size: 1.3em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.zoom-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 200;
    font-size: 1.5em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.zoom-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
    color: #333;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.zoom-button:hover {
    background-color: #333;
    color: #fff;
}
